@using LoopyNFT.WebApp.Services
@inject IAccountService AccountService
@inject NavigationManager NavManager
<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@context.User.Identity?.Name!</a>
        <MudTooltip>
            <MudIconButton Icon="@Icons.Material.Rounded.Logout" ButtonType="ButtonType.Submit" OnClick="LogOut"/>
        </MudTooltip>
    </Authorized>
    <NotAuthorized>
        <MudTooltip Duration="1000" Text="Register User">
            <MudIconButton Icon="@Icons.Material.Rounded.HowToReg" Href="Identity/Account/Register" Title="Register"/>
        </MudTooltip>
        <MudTooltip Duration="1000" Text="Login">
            <MudIconButton Icon="@Icons.Material.Rounded.Login" Href="Identity/Account/Login" Title="Log in"/>
        </MudTooltip>
    </NotAuthorized>
</AuthorizeView>
@code {
    public async Task LogOut()
    {
        NavManager.NavigateTo("Identity/Account/LogOut");
    }
}