@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Login</h3>
                    <p>Fill in the data below.</p>
                    <form id="account" method="post" class="requires-validation" novalidate>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-md-12">
                            @*<input class="form-control" type="text" name="name" placeholder="Full Name" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>*@
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" type="text" placeholder="Email" required/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            @*<input class="form-control" type="password" name="password" placeholder="Password" required>
                            <div class="valid-feedback">Password field is valid!</div>
                            <div class="invalid-feedback">Password field cannot be blank!</div>*@
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" type="password" placeholder="Password" required/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-check">
                            @*<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label">Remember me?</label>*@
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" class="form-check-input"/>
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                            <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
